<h1>Displaying Article</h1>

<p>
  Title: <%= @article.title %>   
</p>

<p>
  Description: <%= @article.description %>
</p>

<%= link_to "Articles Index", articles_path %> |

<%= link_to "Edit this article", edit_article_path(@article) %>