
  <h1 style="text-align:center">About us</h1>
  <p align="center">This is a blog for the cousins to use to stay in touch with each other and to have fun!</p>
  <p align="center">That's us below, aren't we adorable?</p>
  <p align="center"><%= link_to 'Home', root_path %></p>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= image_tag 'cousins2.JPG' %>
    </div>
  </div>
  

