<!DOCTYPE html>
<html>
  <head>
    <title>About Page</title>
  <body>
    <h1 style="text-align:center">About us</h1>
    <p>This is a test application using Ruby on Rails</p>
    <%= link_to 'Home', root_path %><br>
    <%= image_tag 'leadec_Industrial_Services.jpg'%>
  </body>
  </head>  
</html>